<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
<p th:text="${student.name}"></p>
<p th:text="${student.email}"></p>
<p th:text="${student.code}"></p>

<a th:href="@{/students/detail}">Home</a>
</body>
</html>